@model SenorQuinuapata.GestionCostos.Models.UsuarioViewModel
@{
    ViewBag.Title = "Index";
}

<h4>Usuarios</h4>


<a href="/Usuario/Create" class="btn btn-primary btn-sm">Registrar</a>
<hr />

<table class="table table-bordered table-hover small text-center" id="table">
    <thead>

        <tr>
            <td>USUARIO</td>
            <td>ROL</td>
            <td>ACCIÓN</td>
        </tr>

    </thead>
    <tfoot>

        <tr>
            <td>USUARIO</td>
            <td>ROL</td>
            <td>ACCIÓN</td>
        </tr>

    </tfoot>

    <tbody>
        @foreach (var item in Model.ListUsuario)
        {
        <tr>
            <td>@item.Email</td>
            <td>@item.Rol</td>
            <td>


                @*<a href="@Url.Action("Delete","Usuario")" class="btn btn-danger btn-xs">Eliminar</a>*@
                <button type="button" class="btn btn-danger btn-xs" onclick="cargarDatos('@item.Id')">
                    Eliminar
                </button>

            </td>
        </tr>
        }


    </tbody>
</table>


<div class="modal" tabindex="-1" role="dialog" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>¿Estás seguro que deseas eliminar este usuario?</h4>
                <input type="hidden" id="usuario" name="name" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteUsuario()">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

<script>

    function cargarDatos(id) {

        $("#usuario").val(id);
        $("#modalDelete").modal("show");

        //console.log(id);


    }

    function deleteUsuario() {

        var id_user = $("#usuario").val();

        $.ajax({

            method: "get",
            url: "/Usuario/Delete/" + id_user,
            success: function () {
                location.reload()
            }

        });
}


</script>    
    
}