@{
    ViewBag.Title = "Principal";
}

<div class="row">
    <div class="col-md-6">
        <form action="/Departamento/ReportFlujoUnidades" method="get">

            <div class="form-group">
                <label>Departamento:</label>
                <select class="form-control" name="id_departamento">
                    <option value="1">Lactancia</option>
                    <option value="2">Recría</option>
                    <option value="3">Engorde</option>
                    <option value="4">Descarte</option>
                </select>
            </div>
            <div class="form-group">
                <label>Reporte:</label>
                <select class="form-control" name="tipo_reporte">
                    <option value="1">Flujo de unidades</option>
                    <option value="2">Consumo</option>
                </select>
            </div>
            <div class="form-group">
                
                <div class="row">
                    <div class="col-md-6">
                        <label>Fecha inicial:</label>
                        <input type="date" name="fecha_inicio" value="" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Fecha final:</label>
                        <input type="date" name="fecha_fin" value="" class="form-control"/>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" name="name" value="Generar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>