@model SenorQuinuapata.GestionCostos.Entities.Request.MovimientoDepartamentoRequest
@{
    ViewBag.Title = "Operaciones";
}

<div class="col-md-6">
    <div class="small well">
        <h4 style="color:darkgreen">Ingresos</h4>

        @using (Html.BeginForm("Register", "Departamento", FormMethod.Post, new { id = "ingreso-form" }))

        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Movimiento</label>
                <select class="form-control" name="movimiento">
                    <option value="ingreso">Ingreso</option>
                    <option value="salida">Salida</option>
                </select>
            </div>
            @*<div class="form-group">
                <label>Fecha</label>
                <input type="date" name="name" value="" class="form-control" />
            </div>*@
            <div class="form-group">
                <label>Origen</label>
                <select class="form-control" name="origen">
                    <option value="Nace">Nace</option>
                    <option value="1">Departamento I</option>
                    <option value="2">Departamento II</option>
                    <option value="3">Departamento III</option>
                    <option value="4">Departamento IV</option>                    
                </select>
            </div>
            <div class="form-group">
                <label>Código de Origen</label>
                <input type="text" name="codigo_origen" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label>Género</label>
                <select class="form-control" name="genero">
                    <option value="Gazapo">Gazapo</option>
                    <option value="Hembra">Hembra</option>
                    <option value="Macho">Macho</option>
                </select>
            </div>
            <div class="form-group">
                <label>Destino</label>
                <select class="form-control" name="id_departamento">                    
                    <option value="1">Departamento I</option>
                    <option value="2">Departamento II</option>
                    <option value="3">Departamento III</option>
                    <option value="4">Departamento IV</option>
                    <option value="5">Venta</option>
                    <option value="6">Activo</option>
                </select>
            </div>
            <div class="form-group">
                <label>Código de Destino</label>
                <input type="text" name="codigo_destino" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label>Género</label>
                <select class="form-control">
                    <option value="Gazapo">Gazapo</option>
                    <option value="Hembra">Hembra</option>
                    <option value="Macho">Macho</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cantidad</label>
                @*<input type="number" name="" value="" class="form-control" />*@
                @Html.EditorFor(model => model.ingreso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ingreso, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                
                <input type="submit" name="name" value="Registrar" class="btn btn-primary" />
            </div>
        }
    </div>

</div>

<div class="col-md-6">
    <div class="small well">
        <h4 style="color:darkgreen">Consumo de la Producción</h4>
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "ingreso-form" }))

        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Elemento de costo</label>
                <select class="form-control">
                    <option value="value">MD</option>
                    <option value="value">MI</option>
                </select>
            </div>
        }
    </div>

</div>


