@model SenorQuinuapata.GestionCostos.Entities.Request.MovimientoDepartamentoRequest
@{
    ViewBag.Title = "Registrar movimientos";
}

<div class="col-md-6">
    <div class="small well">
        <h4 style="color:darkgreen">Ingresos</h4>

        @using (Html.BeginForm("Register", "Departamento", FormMethod.Post, new { id = "ingreso-form" }))

        {
            @Html.AntiForgeryToken()

            @*<div class="form-group">
                <label>Movimiento</label>
                <select class="form-control" name="movimiento">
                    <option value="ingreso">Ingreso</option>
                    <option value="salida">Salida</option>
                </select>
            </div>*@
            @*<div class="form-group">
                    <label>Fecha</label>
                    <input type="date" name="name" value="" class="form-control" />
                </div>*@
            <div class="form-group">
                <label>Origen</label>
                <select class="form-control" name="origen" onchange="showOptions(this.value)" required>
                    <option value="">---- Seleccionar ----</option>
                    <option value="Nace">Nace</option>
                    <option value="1">Lactancia</option>
                    <option value="2">Recría</option>
                    <option value="3">Engorde</option>
                    <option value="4">Descarte</option>
                </select>
            </div>
            @*<div class="form-group">
                <label>Código de Origen</label>
                <input type="text" name="codigo_origen" value="" class="form-control" />
            </div>*@
            @*<div class="form-group">
                    <label>Género</label>
                    <select class="form-control" name="genero">
                        <option value="Gazapo">Gazapo</option>
                        <option value="Hembra">Hembra</option>
                        <option value="Macho">Macho</option>
                    </select>
                </div>*@
            <div class="form-group">
                <label>Destino</label>
                <select class="form-control" name="id_departamento" id="id_departamento" required>
                    <option value="">---- Seleccionar ----</option>
                    @*<option value="1">Lactancia</option>
                    <option value="2">Recría</option>
                    <option value="3">Engorde</option>
                    <option value="4">Descarte</option>
                    <option value="5">Mortalidad</option>
                    <option value="6">Venta</option>
                    <option value="7">Reproductor (Activo biológico)</option>*@
                </select>
            </div>
            @*<div class="form-group">
                <label>Código de Destino</label>
                <input type="text" name="codigo_destino" value="" class="form-control" />
            </div>*@
            <div class="form-group">
                <label>Género</label>
                <select class="form-control" name="genero" id="genero" required>
                    <option value="">---- Seleccionar ----</option>
                    @*<option value="Gazapo">Gazapo</option>
                    <option value="Hembra">Hembra</option>
                    <option value="Macho">Macho</option>*@
                </select>
            </div>
            <div class="form-group">
                <label>Cantidad</label>
                @*<input type="number" name="" value="" class="form-control" />*@
                @Html.EditorFor(model => model.ingreso, new { htmlAttributes = new { @class = "form-control", required = "true" } })
                @Html.ValidationMessageFor(model => model.ingreso, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">

                <input type="submit" name="name" value="Registrar" class="btn btn-primary" />
            </div>
        }
    </div>

</div>



@section scripts{

<script>

    function showOptions(data) {

        
        var text;
        var genero;
        if (data == "Nace") {

            text = '<option value="1">Lactancia</option>';
            genero = '<option value="Gazapo">Gazapo</option>';

            $("#id_departamento").html(text);
            $("#genero").html(genero);
        }

        if (data == 1) {

            text = '<option value="2">Recría</option>' +
                '<option value="5">Mortalidad</option>';

            genero = '<option value="Hembra">Hembra</option>' +
                    '<option value="Macho">Macho</option>';

            $("#id_departamento").html(text);
            $("#genero").html(genero);
        }
        if (data == 2) {

            text = '<option value="3">Engorde</option>' +
                '<option value="5">Mortalidad</option>' +
                '<option value="6">Venta</option>';

            genero = '<option value="Hembra">Hembra</option>' +
                '<option value="Macho">Macho</option>';

            $("#id_departamento").html(text);
            $("#genero").html(genero);
        }
        if (data == 3) {

            text = '<option value="4">Descarte</option>' +
                '<option value="5">Mortalidad</option>' +
                '<option value="6">Venta</option>';

            genero = '<option value="Hembra">Hembra</option>' +
                '<option value="Macho">Macho</option>';

            $("#id_departamento").html(text);
            $("#genero").html(genero);
        }
        if (data == 4) {

            text = '<option value="5">Mortalidad</option>' +
                '<option value="6">Venta</option>';

            genero = '<option value="Hembra">Hembra</option>' +
                '<option value="Macho">Macho</option>';

            $("#id_departamento").html(text);
            $("#genero").html(genero);
        }
    }



    //<option value="Nace">Nace</option>
    //    <option value="1">Lactancia</option>
    //    <option value="2">Recría</option>
    //    <option value="3">Engorde</option>
    //    <option value="4">Descarte</option>


    //<option value="1">Lactancia</option>
    //<option value="2">Recría</option>
    //<option value="3">Engorde</option>
    //<option value="4">Descarte</option>
    //<option value="5">Mortalidad</option>
    //<option value="6">Venta</option>
    //<option value="7">Reproductor (Activo biológico)</option>

</script>    
    
}