<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="bd_sgcquinuapataEntities" connectionString="metadata=res://*/DataBase.DBsgc.csdl|res://*/DataBase.DBsgc.ssdl|res://*/DataBase.DBsgc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=bd_sgcquinuapata;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="bd_sgcquinuapataEntities" connectionString="metadata=res://*/DataBase.DBsgc.csdl|res://*/DataBase.DBsgc.ssdl|res://*/DataBase.DBsgc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=bd_sgcquinuapata;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="bd_sgcquinuapataEntities" connectionString="metadata=res://*/DataBase.DBsgc.csdl|res://*/DataBase.DBsgc.ssdl|res://*/DataBase.DBsgc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=bd_sgcquinuapata;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>